<p id="notice"><%= notice %></p>

<div class="right"><%= link_to '+ New Critter', new_critter_path, remote: true, class: 'btn btn-sm btn-primary' %></div>

<h1>Critters</h1>
<div class="filter">
  <label>On-Page Javascript Filtering:</label>
  <input type="text" name="filter" id="filter" placeholder="Filter by Critter Name" class="form-control"><br>
  <%= link_to 'Reset', '', class: 'btn btn-sm btn-secondary', id: 'reset-button' %>
</div> <!-- filter -->

<div id="new-form-placeholder"></div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="critters" >
    <% @critters.each do |critter| %>
      <%= render 'critter', critter: critter %>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript">
  // Locate the filter field in the HTML
  const filter = document.querySelector('.filter > input');
  filter.addEventListener('keyup', filterCritters)

  const reset = document.querySelector('#reset-button');
  reset.addEventListener('click', resetResults)

  function filterCritters(e){
    // Capture the text from the filter input field
    let inputText = e.target.value.toLowerCase()
    // Grab all <tr>s that can be filtered and loop through them
    document.querySelectorAll('tbody > tr').forEach(function(tr){
      // Extract the text out of the tr
      const critterName = tr.querySelector('.name').textContent.toLowerCase()

      if(critterName.includes(inputText)){
        tr.style.display = ''
      } else {
        tr.style.display = 'none'
      }
    })
  }// end filterCritters

  function resetResults(e){
    document.querySelector('.filter > input').value = ''

    document.querySelectorAll('tbody > tr').forEach(function(tr){
      tr.style.display = ''
    })

    // Prevent the link from reloading the page
    e.preventDefault()
  }//end resetResults
</script>
