<p id="notice"><%= notice %></p>

<div class="right"><%= link_to '+ New Critter', new_critter_path, remote: true, class: 'btn btn-sm btn-primary' %></div>

<h1>Critters</h1>

<div id="critter-form-placeholder"></div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="critters" >
    <% @critters.each do |critter| %>
      <%= render 'critter', critter: critter %>
    <% end %>
  </tbody>
</table>

<br>

