.right {float: right}

.form-holder {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 30px 20px 20px;
  box-shadow: 5px 10px 10px #888;
}

.actions {
  margin-top: 10px;
}
